@model IEnumerable<FishSellingOnline.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (User.IsInRole("Customer"))
{
    <h1>Order</h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
else
{
    <h1>Customer Order</h1>
}

<table class="table">
    <thead>
        <tr>
            @if (User.IsInRole("Seller"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (User.IsInRole("Seller"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.OrderID">Details</a> 
                    @if (User.IsInRole("Seller") || User.IsInRole("Customer"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.OrderID">| Cancel order</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
