@model IEnumerable<FishSellingOnline.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Products</h1>


@if (User.IsInRole("Seller"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stockleft)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @if (item.ProductImage != null)
                    {
                        <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(item.ProductImage))" />
                    }
                    else
                    {
                        <img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="">
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stockleft)
                </td>
                <td>
                    @if (User.IsInRole("Seller"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ProductID">Edit | </a>
                        <a asp-action="Details" asp-route-id="@item.ProductID">Details | </a>
                        <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.ProductID">Details</a>
                    }

                </td>
                @*<td>
                    @if (User.IsInRole("Customer"))
                    {
                        <a asp-action="AddToCart" asp-route-id="@item.ProductID">Add to cart</a>
                    }
                </td>*@
            </tr>
        }
    </tbody>
</table>
